//--------------------------------------------------------------------------------------------------------------------------------------
// SPACING UNITS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Here we define spacing variants. We don't use variables featuring xs, sm, md, lg etc as to not confuse with
responsive breakpoints. These are used to generate sizing variants of many object and utility classes to give
you a range to choose from. We can create as many as we want without fear of bloating our compiled CSS
file as UNCSS filters out unused css classes.
*/

// Set spacing variants
$spacing: (
	"none": 0px,
	"atomic": 2px,
	"micro": 5px,
	"tiny": 10px,
	"small": 15px,
	"reduced": 20px,
	"regular": 30px,
	"increased": 40px,
	"large": 55px,
	"huge": 70px,
	"giant": 100px,
	"mega": 130px,
	"giga": 160px,
	"terra": 190px
) !default;