//--------------------------------------------------------------------------------------------------------------------------------------
// BREAKPOINTS
//--------------------------------------------------------------------------------------------------------------------------------------

$mq-breakpoints: (
	"sm": 370px,
	"sm2": 425px,
	"sm3": 500px,
	"md": 768px,
	"md2": 840px,
	"md3": 925px,
	"lg": 1024px,
	"lg2": 1280px,
	"lg3": 1440px
) !default;