//--------------------------------------------------------------------------------------------------------------------------------------
// COLORS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Here we can define a map of colors. These are filtered out to auto-generate various utility classes, for
example "u-background-mycolor'.
*/

// Set colors
$colors: (
	"black": #000000,
	"white": #ffffff
) !default;