//--------------------------------------------------------------------------------------------------------------------------------------
// FLOAT CLASSES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility class for floats
*/

// STANDARD
//--------------------------------------------------------------------------------------------------------------------------------------

.u-float-left {
	float:left !important;
}

.u-float-right {
	float:right !important;
}

.u-clear {
	clear: both !important;
}

.u-clear-left {
	clear: left !important;
}

.u-clear-right {
	clear: right !important;
}


// RESPONSIVE
//--------------------------------------------------------------------------------------------------------------------------------------

// Changes float when breakpoint is hit
// Example: .u-float-left@md
@each $bp-name, $bp-value in $mq-breakpoints	{
	@include mq(#{$bp-name}) {
		.u-float-left\@#{$bp-name} {
			float:left !important;
		}

		.u-float-right\@#{$bp-name} {
			float:right !important;
		}

		.u-clear\@#{$bp-name} {
			clear: both !important;
		}	

		.u-clear-left\@#{$bp-name} {
			clear: left !important;
		}

		.u-clear-right\@#{$bp-name} {
			clear: right !important;
		}
	}
}

// Changes float until breakpoint is hit
// Example: .u-float-left@max-md
@each $bp-name, $bp-value in $mq-breakpoints	{
	@include mq($until: #{$bp-name}) {
		.u-float-left\@max-#{$bp-name} {
			float:left !important;
		}

		.u-float-right\@max-#{$bp-name} {
			float:right !important;
		}

		.u-clear\@max-#{$bp-name} {
			clear: both !important;
		}

		.u-clear-left\@max-#{$bp-name} {
			clear: left !important;
		}

		.u-clear-right\@max-#{$bp-name} {
			clear: right !important;
		}		
	}
}