//--------------------------------------------------------------------------------------------------------------------------------------
// FULL HEIGHT OVERRIDE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility classes for heights
*/


// STANDARD
//--------------------------------------------------------------------------------------------------------------------------------------

.u-full-height {
	height:100% !important;
	max-height:100% !important;
}


// RESPONSIVE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Example: .u-full-height@xlg
*/

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		.u-full-height\@#{$bp-name} {
			height:100% !important;
			max-height:100% !important;
		}
	}
}