//--------------------------------------------------------------------------------------------------------------------------------------
// PADDING UTILITIES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility classes to add and remove padding styles.

Generates standard and responsive variants using spacing map located in settings.spacing and
responsive breakpoints located in settings.breakpoints.
*/


// PADDING
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-#{$sp-name} {
		padding:rem($sp-value) !important;
	}
}

// Changes padding when breakpoint is hit
// Example: u-padding-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-#{$sp-name}\@#{$bp-name} {
				padding:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding until breakpoint is hit
// Example: u-padding-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-#{$sp-name}\@max-#{$bp-name} {
				padding:rem($sp-value) !important;
			}
		}
	}
}


// PADDING HORIZONTAL
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-horizontal-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-horizontal-#{$sp-name} {
		padding-left:rem($sp-value) !important;
		padding-right:rem($sp-value) !important;
	}
}

// Changes padding-horizontal when breakpoint is hit
// Example: u-padding-horizontal-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-horizontal-#{$sp-name}\@#{$bp-name} {
				padding-left:rem($sp-value) !important;
				padding-right:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding-horizontal until breakpoint is hit
// Example: u-padding-horizontal-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-horizontal-#{$sp-name}\@max-#{$bp-name} {
				padding-left:rem($sp-value) !important;
				padding-right:rem($sp-value) !important;
			}
		}
	}
}


// PADDING VERTICAL
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-vertical-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-vertical-#{$sp-name} {
		padding-top:rem($sp-value) !important;
		padding-bottom:rem($sp-value) !important;
	}
}

// Changes padding-vertical when breakpoint is hit
// Example: u-padding-vertical-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-vertical-#{$sp-name}\@#{$bp-name} {
				padding-top:rem($sp-value) !important;
				padding-bottom:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding-vertical until breakpoint is hit
// Example: u-padding-vertical-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-vertical-#{$sp-name}\@max-#{$bp-name} {
				padding-top:rem($sp-value) !important;
				padding-bottom:rem($sp-value) !important;
			}
		}
	}
}


// PADDING TOP
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-top-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-top-#{$sp-name} {
		padding-top:rem($sp-value) !important;
	}
}

// Changes padding-top when breakpoint is hit
// Example: u-padding-top-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-top-#{$sp-name}\@#{$bp-name} {
				padding-top:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding-top until breakpoint is hit
// Example: u-padding-top-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-top-#{$sp-name}\@max-#{$bp-name} {
				padding-top:rem($sp-value) !important;
			}
		}
	}
}


// PADDING RIGHT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-right-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-right-#{$sp-name} {
		padding-right:rem($sp-value) !important;
	}
}

// Changes padding-right when breakpoint is hit
// Example: u-padding-right-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-right-#{$sp-name}\@#{$bp-name} {
				padding-right:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding-right until breakpoint is hit
// Example: u-padding-right-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-right-#{$sp-name}\@max-#{$bp-name} {
				padding-right:rem($sp-value) !important;
			}
		}
	}
}


// PADDING BOTTOM
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-bottom-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-bottom-#{$sp-name} {
		padding-bottom:rem($sp-value) !important;
	}
}

// Changes padding-bottom when breakpoint is hit
// Example: u-padding-bottom-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-bottom-#{$sp-name}\@#{$bp-name} {
				padding-bottom:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding-bottom until breakpoint is hit
// Example: u-padding-bottom-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-bottom-#{$sp-name}\@max-#{$bp-name} {
				padding-bottom:rem($sp-value) !important;
			}
		}
	}
}


// PADDING LEFT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-padding-left-small
@each $sp-name, $sp-value in $spacing {
	.u-padding-left-#{$sp-name} {
		padding-left:rem($sp-value) !important;
	}
}

// Changes padding-left when breakpoint is hit
// Example: u-padding-left-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-left-#{$sp-name}\@#{$bp-name} {
				padding-left:rem($sp-value) !important;
			}
		}
	}
}

// Changes padding-left until breakpoint is hit
// Example: u-padding-left-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-padding-left-#{$sp-name}\@max-#{$bp-name} {
				padding-left:rem($sp-value) !important;
			}
		}
	}
}