//--------------------------------------------------------------------------------------------------------------------------------------
// TRUNCATE UTILITY
//--------------------------------------------------------------------------------------------------------------------------------------

/*
A simple utility class to truncate text
*/


// STANDARD
//--------------------------------------------------------------------------------------------------------------------------------------

.u-truncate {
	white-space: nowrap !important;
	overflow-x: hidden !important;
	text-overflow: ellipsis !important;
}