//--------------------------------------------------------------------------------------------------------------------------------------
// MARGIN UTILITIES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility classes to add simple margin styles

Generates standard and responsive variants using spacing map located in settings.spacing and
responsive breakpoints located in dev/data/breakpoints
*/

// MARGIN TOP
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-top-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-top-#{$sp-name} {
		margin-top:rem($sp-value) !important;
	}
}

// Changes margin-top when breakpoint is hit
// Example: u-margin-top-small@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}\@#{$bp-name} {
				margin-top:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin-top until breakpoint is hit
// Example: u-margin-top-small@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}\@max-#{$bp-name} {
				margin-top:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN RIGHT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-right-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-right-#{$sp-name} {
		margin-right:rem($sp-value) !important;
	}
}

// Changes margin-right when breakpoint is hit
// Example: u-margin-right-small@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}\@#{$bp-name} {
				margin-right:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin-right until breakpoint is hit
// Example: u-margin-right-small@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}\@max-#{$bp-name} {
				margin-right:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN BOTTOM
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-bottom-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-bottom-#{$sp-name} {
		margin-bottom:rem($sp-value) !important;
	}
}

// Changes margin-bottom when breakpoint is hit
// Example: u-margin-bottom-small@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}\@#{$bp-name} {
				margin-bottom:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin-bottom until breakpoint is hit
// Example: u-margin-bottom-small@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}\@max-#{$bp-name} {
				margin-bottom:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN LEFT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-left-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-left-#{$sp-name} {
		margin-left:rem($sp-value) !important;
	}
}

// Changes margin-left when breakpoint is hit
// Example: u-margin-left-small@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}\@#{$bp-name} {
				margin-left:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin-left until breakpoint is hit
// Example: u-margin-left-small@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}\@max-#{$bp-name} {
				margin-left:rem($sp-value) !important;
			}
		}
	}
}


// NEGATIVE MARGIN TOP
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-top-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-top-#{$sp-name}-negative {
		margin-top:rem(-$sp-value) !important;
	}
}

// Changes negative margin-top when breakpoint is hit
// Example: u-margin-top-small-negative@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}-negative\@#{$bp-name} {
				margin-top:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes negative margin-top until breakpoint is hit
// Example: u-margin-top-small-negative@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-top:rem(-$sp-value) !important;
			}
		}
	}
}


// NEGATIVE MARGIN RIGHT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-right-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-right-#{$sp-name}-negative {
		margin-right:rem(-$sp-value) !important;
	}
}

// Changes negative margin-right when breakpoint is hit
// Example: u-margin-right-small-negative@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}-negative\@#{$bp-name} {
				margin-right:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes negative margin-right until breakpoint is hit
// Example: u-margin-right-small-negative@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-right:rem(-$sp-value) !important;
			}
		}
	}
}


// NEGATIVE MARGIN BOTTOM
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-bottom-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-bottom-#{$sp-name}-negative {
		margin-bottom:rem(-$sp-value) !important;
	}
}

// Changes negative margin-bottom when breakpoint is hit
// Example: u-margin-bottom-small-negative@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}-negative\@#{$bp-name} {
				margin-bottom:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes negative margin-bottom until breakpoint is hit
// Example: u-margin-bottom-small-negative@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-bottom:rem(-$sp-value) !important;
			}
		}
	}
}


// NEGATIVE MARGIN LEFT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-left-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-left-#{$sp-name}-negative {
		margin-left:rem(-$sp-value) !important;
	}
}

// Changes negative margin-left when breakpoint is hit
// Example: u-margin-left-small-negative@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}-negative\@#{$bp-name} {
				margin-left:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes negative margin-left until breakpoint is hit
// Example: u-margin-left-small-negative@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-left:rem(-$sp-value) !important;
			}
		}
	}
}