//--------------------------------------------------------------------------------------------------------------------------------------
// MARGIN UTILITIES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Utility classes to add simple margin styles. Use to margin and fine tune elements positions.

Generates standard and responsive variants using spacing map located in settings.spacing and
responsive breakpoints located in settings.breakpoints.
*/


// MARGIN
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-#{$sp-name} {
		margin:rem($sp-value) !important;
	}
}

// Changes margin when breakpoint is hit
// Example: u-margin-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-#{$sp-name}\@#{$bp-name} {
				margin:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin until breakpoint is hit
// Example: u-margin-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-#{$sp-name}\@max-#{$bp-name} {
				margin:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN HORIZONTAL
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-horizontal-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-horizontal-#{$sp-name} {
		margin-left:rem($sp-value) !important;
		margin-right:rem($sp-value) !important;
	}
}

// Changes margin-horizontal when breakpoint is hit
// Example: u-margin-horizontal-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-horizontal-#{$sp-name}\@#{$bp-name} {
				margin-left:rem($sp-value) !important;
				margin-right:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin-horizontal until breakpoint is hit
// Example: u-margin-horizontal-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-horizontal-#{$sp-name}\@max-#{$bp-name} {
				margin-left:rem($sp-value) !important;
				margin-right:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN VERTICAL
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-vertical-small
@each $sp-name, $sp-value in $spacing {
	.u-margin-vertical-#{$sp-name} {
		margin-top:rem($sp-value) !important;
		margin-bottom:rem($sp-value) !important;
	}
}

// Changes margin-vertical when breakpoint is hit
// Example: u-margin-vertical-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-vertical-#{$sp-name}\@#{$bp-name} {
				margin-top:rem($sp-value) !important;
				margin-bottom:rem($sp-value) !important;
			}
		}
	}
}

// Changes margin-vertical until breakpoint is hit
// Example: u-margin-vertical-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-vertical-#{$sp-name}\@max-#{$bp-name} {
				margin-top:rem($sp-value) !important;
				margin-bottom:rem($sp-value) !important;
			}
		}
	}
}


// MARGIN TOP
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-top-small
// Example: u-margin-top-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-top-#{$sp-name} {
		margin-top:rem($sp-value) !important;
	}
	.u-margin-top-#{$sp-name}-negative {
		margin-top:rem(-$sp-value) !important;
	}
}

// Changes top when breakpoint is hit
// Example: u-margin-top-small@md
// Example: u-margin-top-small-negative@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}\@#{$bp-name} {
				margin-top:rem($sp-value) !important;
			}
			.u-margin-top-#{$sp-name}-negative\@#{$bp-name} {
				margin-top:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes top until breakpoint is hit
// Example: u-margin-top-small@max-md
// Example: u-margin-top-small-negative@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-top-#{$sp-name}\@max-#{$bp-name} {
				margin-top:rem($sp-value) !important;
			}
			.u-margin-top-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-top:rem(-$sp-value) !important;
			}
		}
	}
}


// MARGIN RIGHT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-right-small
// Example: u-margin-right-small-negative@md
@each $sp-name, $sp-value in $spacing {
	.u-margin-right-#{$sp-name} {
		margin-right:rem($sp-value) !important;
	}
	.u-margin-right-#{$sp-name}-negative {
		margin-right:rem(-$sp-value) !important;
	}
}

// Changes right when breakpoint is hit
// Example: u-margin-right-small@md
// Example: u-margin-right-small-negative@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}\@#{$bp-name} {
				margin-right:rem($sp-value) !important;
			}
			.u-margin-right-#{$sp-name}-negative\@#{$bp-name} {
				margin-right:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes right until breakpoint is hit
// Example: u-margin-right-small@max-md
// Example: u-margin-right-small-negative@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-right-#{$sp-name}\@max-#{$bp-name} {
				margin-right:rem($sp-value) !important;
			}
			.u-margin-right-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-right:rem(-$sp-value) !important;
			}
		}
	}
}


// MARGIN BOTTOM
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-bottom-small
// Example: u-margin-bottom-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-bottom-#{$sp-name} {
		margin-bottom:rem($sp-value) !important;
	}
	.u-margin-bottom-#{$sp-name}-negative {
		margin-bottom:rem(-$sp-value) !important;
	}
}

// Changes bottom when breakpoint is hit
// Example: u-margin-bottom-small@md
// Example: u-margin-bottom-small-negative@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}\@#{$bp-name} {
				margin-bottom:rem($sp-value) !important;
			}
			.u-margin-bottom-#{$sp-name}-negative\@#{$bp-name} {
				margin-bottom:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes bottom until breakpoint is hit
// Example: u-margin-bottom-small@max-md
// Example: u-margin-bottom-small-negative@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-bottom-#{$sp-name}\@max-#{$bp-name} {
				margin-bottom:rem($sp-value) !important;
			}
			.u-margin-bottom-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-bottom:rem(-$sp-value) !important;
			}
		}
	}
}


// MARGIN LEFT
//--------------------------------------------------------------------------------------------------------------------------------------

// Example: u-margin-left-small
// Example: u-margin-left-small-negative
@each $sp-name, $sp-value in $spacing {
	.u-margin-left-#{$sp-name} {
		margin-left:rem($sp-value) !important;
	}
	.u-margin-left-#{$sp-name}-negative {
		margin-left:rem(-$sp-value) !important;
	}
}

// Changes left when breakpoint is hit
// Example: u-margin-left-small@md
// Example: u-margin-left-small-negative@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}\@#{$bp-name} {
				margin-left:rem($sp-value) !important;
			}
			.u-margin-left-#{$sp-name}-negative\@#{$bp-name} {
				margin-left:rem(-$sp-value) !important;
			}
		}
	}
}

// Changes left until breakpoint is hit
// Example: u-margin-left-small@max-md
// Example: u-margin-left-small-negative@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.u-margin-left-#{$sp-name}\@max-#{$bp-name} {
				margin-left:rem($sp-value) !important;
			}
			.u-margin-left-#{$sp-name}-negative\@max-#{$bp-name} {
				margin-left:rem(-$sp-value) !important;
			}
		}
	}
}