{
	"plugins": [
		"stylelint-scss"
	],
	"ignoreFiles": [
		"/03 - generic/_generic.normalize.scss",
		"/sample.main-orion-framework.scss",
		"/sample.main.scss",
		"/test/test.main.scss",
		"/node_modules"
	],
	"rules": {
		"color-hex-case": "lower",
		"color-no-invalid-hex": true,
		"declaration-block-no-duplicate-properties": true,
		"font-family-no-duplicate-names": true,
		"function-calc-no-unspaced-operator": true,
		"indentation": "tab",
		"keyframe-declaration-no-important": true,
		"max-nesting-depth": 4,
		"no-extra-semicolons": true,
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"property-case": "lower",
		"scss/operator-no-unspaced": true,
		"selector-pseudo-class-case": "lower",
		"string-no-newline": true,
		"unit-case": "lower",
		"unit-no-unknown": true,
		"value-keyword-case": "lower",
	}
}