/*
Orion Framework 
Author: Luke Harrison
Web: www.lukeharrison.net
Github: https://github.com/WebDevLuke/OrionCSS
Email: luke@lukeharrison.net
*/

// Implements ITCSS (https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture)
// Takes good ideas from inuitcss (https://github.com/inuitcss/inuitcss)
// Implements BEM (http://getbem.com) and BEMIT (http://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further), OOCSS namespacing (http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces)
// Uses UNCSS to filter out unused css classes from compiled stylesheets, so this allows us to have unlimited utility classes without fear of bloating our css

/*
[1] Settings – used with preprocessors and contain font, colors definitions, etc.
[2] Tools – globally used mixins and functions. It’s important not to output any CSS in the first 2 layers.
[3] Generic – reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS.
[4] Elements – styling for bare HTML elements. These come with default styling from the browser so we can redefine them here.
[5] Objects – class-based selectors which define undecorated design patterns, for example media object known from OOCSS.
[6] Components – specific UI components. This is where majority of our work takes place and our UI components are often composed of Objects and Components.
[7] Utilities – utilities and helper classes with the ability to override anything which goes before in the triangle. Should primarily be used for positional and minor cosmetic styling (eg bold, no-wrap, text-alignments etc). Every other kind of cosmetic styling should be done in the components layer.
*/


// IMPORT ITCSS LAYERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
[1] Manually import normalize.css into generic layer from node_modules
*/

@import "01 - settings/*";
@import "02 - tools/*";
@import "../../node_modules/normalize.css/normalize"; /* [1] */
@import "03 - generic/*";
@import "04 - elements/*";
@import "05 - objects/*";
@import "06 - components/*";
@import "07 - utilities/*";