//--------------------------------------------------------------------------------------------------------------------------------------
// BOX OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Boxes off content
http://csswizardry.com/2011/10/the-island-object/
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-box">
	CONTENT
</div>
*/

/*
[1] So we can apply the `.o-box` class to naturally-inline elements.
*/

.o-box {
	@include clearfix();
	display: block; /* [1] */
}


// SPACING MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Generates variants in padding size using data from settings.spacing

In addition you can add the `o-box--spacing-balance` modifier to add 20% extra padding-bottom
to better visually balance a box.
*/

// Generate using settings.spacing
// Example: o-box--spacing-tiny
@each $sp-name, $sp-value in $spacing {
	.o-box--spacing-#{$sp-name} {
		padding:rem($sp-value);
	}
	.o-box--spacing-balance.o-box--spacing-#{$sp-name} {
		padding-bottom:rem($sp-value + ($sp-value * 0.3));
	}
}

// Create responsive variants using settings.breakpoints
// Changes padding when breakpoint is hit
// Example: o-box--spacing-tiny@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-box--spacing-#{$sp-name}\@#{$bp-name} {
				padding:rem($sp-value);
			}
			.o-box--spacing-balance.o-box--spacing-#{$sp-name}\@#{$bp-name} {
				padding-bottom:rem($sp-value + ($sp-value * 0.3));
			}
		}
	}
}

// Changes padding until breakpoint is hit
// Example: o-box--spacing-tiny@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-box--spacing-#{$sp-name}\@max-#{$bp-name} {
				padding:rem($sp-value);
			}
			.o-box--spacing-balance.o-box--spacing-#{$sp-name}\@max-#{$bp-name} {
				padding-bottom:rem($sp-value + ($sp-value * 0.3));
			}
		}
	}
}

.o-box--vertical {
	padding-left:0;
	padding-right:0;
}

.o-box--horizontal {
	padding-top:0;
	padding-bottom:0;
}


// SIZE MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Generates fixed width and height variants using data from settings.spacing
*/

// Generate using settings.spacing
// Example: o-box--width-tiny
// Example: o-box--height-tiny
@each $sp-name, $sp-value in $spacing {
	.o-box--width-#{$sp-name} {
		width:rem($sp-value);
	}	
	.o-box--height-#{$sp-name} {
		height:rem($sp-value);
	}
}

// Create responsive variants using settings.breakpoints
// Changes padding when breakpoint is hit
// Example: o-box--width-tiny@md
// Example: o-box--height-tiny@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-box--width-#{$sp-name}\@#{$bp-name} {
				width:rem($sp-value);
			}
			.o-box--height-#{$sp-name}\@#{$bp-name} {
				height:rem($sp-value);
			}
		}
	}
}

// Changes padding until breakpoint is hit
// Example: o-box--width-tiny@max-md
// Example: o-box--height-tiny@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until:#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-box--width-#{$sp-name}\@max-#{$bp-name} {
				width:rem($sp-value);
			}
			.o-box--height-#{$sp-name}\@max-#{$bp-name} {
				height:rem($sp-value);
			}
		}
	}
}