//--------------------------------------------------------------------------------------------------------------------------------------
// INLINE LIST OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Simple inline list with content stacked left or right horizontally
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<ul class="o-list-inline">
	<li class="o-list-inline__item">CONTENT</li>
	<li class="o-list-inline__item">CONTENT</li>
	<li class="o-list-inline__item">CONTENT</li>
</ul>
*/

/*
[1] Remove whitespace between items
*/

.o-list-inline {
	list-style:none;
	margin-left:0;
	font-size:0; /* [1] */
}

.o-list-inline__item {
	display:inline-block;
	font-size:1rem; /* [1] */
}


// SPACING VARIANT MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Adds padding between each item. Can also be used in conjunction with delimited modifier
*/

/*
[1] Remove the last list items spacing.
*/

[class*="o-list-inline--spacing-"] {
	.o-list-inline__item:after {
		content:"";
		display:inline-block;
	}
	.o-list-inline__item:last-child:after {
		display:none; /* [1] */
	}
}

// Generate using settings.spacing
// Example: o-list-inline--spacing-small
@each $sp-name, $sp-value in $spacing {
	.o-list-inline--spacing-#{$sp-name} {
		.o-list-inline__item:after {
			padding:0 rem($sp-value / 2);
		}
	}
}

// Create responsive variants using settings.breakpoints
// Changes padding once breakpoint is hit
// Example o-list-inline--spacing-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-list-inline--spacing-#{$sp-name}\@#{$bp-name} {
				.o-list-inline__item:after {
					padding:0 rem($sp-value / 2);
				}
			}
		}
	}
}

// Changes padding until breakpoint is hit
// Example o-list-inline--spacing-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-list-inline--spacing-#{$sp-name}\@max-#{$bp-name} {
				.o-list-inline__item:after {
					padding:0 rem($sp-value / 2);
				}
			}
		}
	}
}


// DELIMITED MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Seperate individual list items with a specific character
*/

/*
[1] Remove the last list items delimiter.
*/

[class*="o-list-inline--delimited-"] {
	.o-list-inline__item:last-child:after {
		display:none; /* [1] */
	}
}

.o-list-inline--delimited-pipe {
	.o-list-inline__item:after {
		content: "|";
	}
}

.o-list-inline--delimited-comma {
	.o-list-inline__item:after {
		padding-left:0;
		content: ",";
	}
}

.o-list-inline--delimited-dash {
	.o-list-inline__item:after {
		content: "-";
	}
}

// Changes delimiter once breakpoint is hit
// Example o-list-inline--delimited-dash@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		.o-list-inline--delimited-pipe\@#{$bp-name} {
			.o-list-inline__item:after {
				content: "|";
			}
		}

		.o-list-inline--delimited-comma\@#{$bp-name} {
			.o-list-inline__item:after {
				padding-left:0;
				content: ",";
			}
		}

		.o-list-inline--delimited-dash\@#{$bp-name} {
			.o-list-inline__item:after {
				content: "-";
			}
		}
	}
}

// Changes delimiter until breakpoint is hit
// Example o-list-inline--delimited-dash@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		.o-list-inline--delimited-pipe\@max-#{$bp-name} {
			.o-list-inline__item:after {
				content: "|";
			}
		}

		.o-list-inline--delimited-comma\@max-#{$bp-name} {
			.o-list-inline__item:after {
				padding-left:0;
				content: ",";
			}
		}

		.o-list-inline--delimited-dash\@max-#{$bp-name} {
			.o-list-inline__item:after {
				content: "-";
			}
		}
	}
}