//--------------------------------------------------------------------------------------------------------------------------------------
// CONTAINER OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Constrains the content within the width of a page. Typically used with o-layout and width utilities to
form a grid system.
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-container">
	<div class="o-layout">
		<div class="o-layout__item u-1/2">CONTENT</div>
		<div class="o-layout__item u-1/2">CONTENT</div>
	</div>
</div>
*/

.o-container {
	@include clearfix();
	margin-right: auto;
	margin-left: auto;
	max-width: rem(1170px);
	padding-left: rem($gutter);
	padding-right: rem($gutter);
	width:100%;
}


// OUTER PADDING MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Modifiers to tweak the containers outer spacing.
*/

// Generate using settings.spacing
// Example: o-container--spacing-small
@each $sp-name, $sp-value in $spacing {
	.o-container--spacing-#{$sp-name} { 
		padding-left:rem($sp-value); 
		padding-right:rem($sp-value);
	}
}

// Create responsive variants using settings.breakpoints
// Changes outer spacing when breakpoint is hit
// Example: o-container--spacing-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-container--spacing-#{$sp-name}\@#{$bp-name} {
				padding-left:rem($sp-value);
				padding-right:rem($sp-value);
			}
		}
	}
}

// Create responsive variants using settings.breakpoints
// Changes outer spacing until breakpoint is hit
// Example: o-container--spacing-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-container--spacing-#{$sp-name}\@max-#{$bp-name} {
				padding-left:rem($sp-value);
				padding-right:rem($sp-value);
			}
		}
	}
}


// NON-RESPONSIVE CONTAINER MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Makes the container non-responsive by swapping max-width for width.
*/

.o-container--fixed {
	max-width:none;
	width:rem(1170px);
}