//--------------------------------------------------------------------------------------------------------------------------------------
// FLAG MEDIA OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
The pack object simply causes any number of elements pack up horizontally to automatically
fill an equal, fluid width of their parent.

https://css-tricks.com/fixing-tables-long-strings/
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<ul class="o-pack">
	<li class="o-pack__item">CONTENT</li>
	<li class="o-pack__item">CONTENT</li>
	<li class="o-pack__item">CONTENT</li>
</ul>
*/

/*
[1] Fill all available space.
[2] Cause children to be automatically equally sized.
[3] Remove any leftover styling from lists.
[4] Cause children to adopt table-like structure.
*/

.o-pack {
	width: 100%; /* [1] */
	display: table;
	table-layout: fixed; /* [2] */
	margin-left:0; /* [3] */
}

.o-pack__item {
	display: table-cell; /* [4] */
}


// REVERSE PACK ORDER MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<ul class="o-pack o-pack--reverse">
	<li class="o-pack__item">CONTENT</li>
	<li class="o-pack__item">CONTENT</li>
	<li class="o-pack__item">CONTENT</li>
</ul>
*/

.o-pack--reverse {
	direction: rtl;
	> .o-pack__item {
		direction: ltr;
		text-align:left;
	}
}


// SPACING VARIANT MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Add spacing in between pack items. Use within a matching o-pack-container object as you would with .o-row and
absorb outer margin and align.
*/

/*
<div class="o-pack-container-huge@lg2">
	<ul class="o-pack o-pack--spacing-huge@lg2">
		<li class="o-pack__item">CONTENT</li>
		<li class="o-pack__item">CONTENT</li>
		<li class="o-pack__item">CONTENT</li>
	</ul>
</div>
*/

// Generate using settings.spacing
// Example o-pack--spacing-small
@each $sp-name, $sp-value in $spacing {
	.o-pack--spacing-#{$sp-name} {
		border-spacing: rem($sp-value);
	}
	.o-pack-container-#{$sp-name} {
		margin-left: rem(-$sp-value);
		margin-right: rem(-$sp-value);
	}
}

// Create responsive variants using data/breakpoints.json
// Changes spacing when breakpoint is hit
// Example o-pack--spacing-small@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-pack--spacing-#{$sp-name}\@#{$bp-name} {
				border-spacing: rem($sp-value);
			}
			.o-pack-container-#{$sp-name}\@#{$bp-name} {
				margin-left: rem(-$sp-value);
				margin-right: rem(-$sp-value);
			}
		}
	}
}

// Create responsive variants using data/breakpoints.json
// Changes spacing until breakpoint is hit
// Example o-pack--spacing-small@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-pack--spacing-#{$sp-name}\@max-#{$bp-name} {
				border-spacing: rem($sp-value);
			}
			.o-pack-container-#{$sp-name}\@max-#{$bp-name} {
				margin-left: rem(-$sp-value);
				margin-right: rem(-$sp-value);
			}
		}
	}
}
