//--------------------------------------------------------------------------------------------------------------------------------------
// MEDIA OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Classic media object for layouts with image on one side and text on other.
http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-media">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media {
	@include clearfix();
	box-sizing:border-box;
}

.o-media__image {
	float:left;

	img {
		display:block;
	}
}

.o-media__body {
	@include clearfix(); 
	overflow:hidden;
	float:left;
}


// REVERSE ORDER MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Reverse the position of text and image
*/

/*
<div class="o-media o-media--reverse">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media--reverse > .o-media__image {
	float:right;
	margin-right:0;
}


// TEXT WRAP MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Wrap the text around the image
*/

/*
<div class="o-media o-media--wrap">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

.o-media--wrap > .o-media__body {
	overflow:visible;
}


// SPACING VARIANT MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Alter the spacing in between image and text
*/

/*
<div class="o-media o-media--spacing-small">
	<img src="" alt="" class="o-media__image">
	<p class="o-media__body">
		CONTENT
	</p>
</div>
*/

// Generate using settings.spacing
// Example: o-media--spacing-small
@each $sp-name, $sp-value in $spacing {
	.o-media--spacing-#{$sp-name} {
		& > .o-media__image {
			margin-right:rem($sp-value);
		}

		&.o-media--reverse > .o-media__image {
			margin-left:rem($sp-value);
		}
	}
}

// Generate using settings.spacing
// Change spacing when breakpoint is hit
// Example: o-media--spacing-small@md
@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-media--spacing-#{$sp-name}\@#{$bp-name}  {
				& > .o-media__image {
					margin-right:rem($sp-value);
				}

				&.o-media--reverse > .o-media__image {
					margin-left:rem($sp-value);
				}
			}
		}
	}
}

// Generate using settings.spacing
// Change spacing until breakpoint is hit
// Example: o-media--spacing-small@max-md
@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-media--spacing-#{$sp-name}\@max-#{$bp-name}  {
				& > .o-media__image {
					margin-right:rem($sp-value);
				}

				&.o-media--reverse > .o-media__image {
					margin-left:rem($sp-value);
				}
			}
		}
	}
}