//--------------------------------------------------------------------------------------------------------------------------------------
// LAYOUT OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
The layout object is used to construct a grid-like layout system.
*/


// OPTIONS
//--------------------------------------------------------------------------------------------------------------------------------------

$gutter: 30px;


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-container">
	<div class="o-layout">
		<div class="o-layout__item u-1/2">CONTENT</div>
		<div class="o-layout__item u-1/2">CONTENT</div>
	</div>
</div>
*/

.o-layout {
	display:block;
	padding:0;
	margin:0;
}