//--------------------------------------------------------------------------------------------------------------------------------------
// COVER OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
An absolute positioned object which covers a selected space. Remember to set position:relative on containing
element.
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-cover">
	CONTENT
</div>
*/

.o-cover {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}


// POSITION MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

.o-cover--right {
	left:auto;
	right:0;
}