//--------------------------------------------------------------------------------------------------------------------------------------
// EXPANDER OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Simple object which hides content which then slides down after a linked element is clicked. Use javascript
to add is-active stateful class under desired circumstances.
*/


// BASE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-expander">
	CONTENT
</div>
<a href="/">TOGGLE LINK</a>
*/

.o-expander {
	width:100%;
	transition:max-height 0.5s;
	max-height:0;
	overflow:hidden;
}


// PARTIAL VISIBLE MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Modifiers to make a part of the hidden text visible, with the rest showing on is-active. This uses the
global-line-height variable defined in settings.typography.
*/

.o-expander--partial-tiny {
	max-height:$global-line-height * 3em;
}

.o-expander--partial-small {
	max-height:$global-line-height * 6em;
}

.o-expander--partial-regular {
	max-height:$global-line-height * 9em;
}

.o-expander--partial-large {
	max-height:$global-line-height * 12em;
}

.o-expander--partial-huge {
	max-height:$global-line-height * 15em;
}

// Create responsive variants using settings.breakpoints
// Changes amount of visible text once breakpoint is hit
// Example: o-expander--partial-tiny@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		.o-expander--partial-tiny\@#{$bp-name} {
			max-height:$global-line-height * 3em;
		}

		.o-expander--partial-small\@#{$bp-name} {
			max-height:$global-line-height * 6em;
		}

		.o-expander--partial-regular\@#{$bp-name} {
			max-height:$global-line-height * 9em;
		}

		.o-expander--partial-large\@#{$bp-name} {
			max-height:$global-line-height * 12em;
		}

		.o-expander--partial-huge\@#{$bp-name} {
			max-height:$global-line-height * 15em;
		}
	}
}

// Changes amount of visible text until breakpoint is hit
// Example: o-expander--partial-tiny@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		.o-expander--partial-tiny\@max-#{$bp-name} {
			max-height:$global-line-height * 3em;
		}

		.o-expander--partial-small\@max-#{$bp-name} {
			max-height:$global-line-height * 6em;
		}

		.o-expander--partial-regular\@max-#{$bp-name} {
			max-height:$global-line-height * 9em;
		}

		.o-expander--partial-large\@max-#{$bp-name} {
			max-height:$global-line-height * 12em;
		}

		.o-expander--partial-huge\@max-#{$bp-name} {
			max-height:$global-line-height * 15em;
		}
	}
}


// SIZE MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Size modifiers to increase or reduce max-height of expander. Generally the more content you have
in an expander, the bigger you set it to.
*/

// Set default
.o-expander.is-active {
	max-height:125em;
}

// Create modifiers
.o-expander--tiny.is-active {
	max-height:30em;
}

.o-expander--small.is-active {
	max-height:60em;
}

.o-expander--large.is-active {
	max-height:185em;
}

.o-expander--huge.is-active {
	max-height:250em;
}

.o-expander--giant.is-active {
	max-height:300em;
}


// ENABLE & DISABLE MODIFIER
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Disables the expander once a certain breakpoint has been hit.
*/

// Example: o-expander--disable@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		.o-expander--disable\@#{$bp-name} {
			max-height:none; 
			overflow:visible;
		}
	}
}

/*
Enables the expander once a certain breakpoint has been hit.
*/

// Example: o-expander--enable@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		.o-expander--enable\@#{$bp-name} {
			max-height:none;
			overflow:visible;
		}
	}
}