//--------------------------------------------------------------------------------------------------------------------------------------
// FLAG MEDIA OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Abstraction of media object to support vertical alignment for either image or text.
http://csswizardry.com/2013/05/the-flag-object/
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<div class="o-media">
	<div class="o-media__image">
		<img src="" alt="">
	</div>
	<div class="o-media__body">
		CONTENT
	</div>
</div>
*/

/*
[1] Make the image take as little space as possible
*/

.o-media {
	display: table;
	box-sizing:border-box;
}

.o-media__body {
	width: auto;
}

.o-media__image,
.o-media__body {
	display: table-cell;
	vertical-align: middle;
}

.o-media__image {
	width:rem(1px); /* [1] */
	img,
	svg {
		display: block;
		max-width: none;
	}
}


// FLAG ALIGNMENT MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Change the vertical alignment of flag contents. Default: middle.
*/

.o-media--top {
	> .o-media__image,
	> .o-media__body {
		vertical-align: top;
	}
}

.o-media--middle {
	> .o-media__image,
	> .o-media__body {
		vertical-align: middle;
	}
}

.o-media--bottom {
	> .o-media__image,
	> .o-media__body {
		vertical-align: bottom;
	}
}

// Create responsive variants using settings.breakpoints
// Changes vertical alignment once breakpoint is hit
// Example: o-media--top@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		.o-media--top\@#{$bp-name} {
			> .o-media__image,
			> .o-media__body {
				vertical-align: top;
			}
		}
		.o-media--middle\@#{$bp-name} {
			> .o-media__image,
			> .o-media__body {
				vertical-align: middle;
			}
		}
		.o-media--bottom\@#{$bp-name} {
			> .o-media__image,
			> .o-media__body {
				vertical-align: bottom;
			}
		}
	}
}

// Changes vertical alignment until breakpoint is hit
// Example: o-media--top@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		.o-media--top\@max-#{$bp-name} {
			> .o-media__image,
			> .o-media__body {
				vertical-align: top;
			}
		}
		.o-media--middle\@max-#{$bp-name} {
			> .o-media__image,
			> .o-media__body {
				vertical-align: middle;
			}
		}
		.o-media--bottom\@max-#{$bp-name} {
			> .o-media__image,
			> .o-media__body {
				vertical-align: bottom;
			}
		}
	}
}


// FIXED WIDTH IMAGE MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Adds a fixed width to the image element. Useful if you have multiple stacked flags with different width icons
and everything needs to stack up
*/


// Generate using settings.spacing
// Example: o-media--fixed-image-small
@each $sp-name, $sp-value in $spacing {
	.o-media--fixed-image-#{$sp-name} .o-media__image {
		width:rem($sp-value);
		max-width:rem($sp-value);
	}
}

// Create responsive variants using settings.breakpoints
// Changes width and max width when breakpoint is hit
// Example: o-media--fixed-image-small@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-media--fixed-image-#{$sp-name}\@#{$bp-name} .o-media__image {
				width:rem($sp-value);
				max-width:rem($sp-value);
			}
		}
	}
}

// Create responsive variants using settings.breakpoints
// Changes width and max width until breakpoint is hit
// Example: o-media--fixed-image-small@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-media--fixed-image-#{$sp-name}\@-max#{$bp-name} .o-media__image {
				width:rem($sp-value);
				max-width:rem($sp-value);
			}
		}
	}
}


// COLLAPSE MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Breaks the media object. For use if you want to toggle between a standard and media box layout
*/

.o-media--collapse {
	> .o-media__image {
		width:100%;
	}
	> .o-media__image,
	> .o-media__body {
		display:block;
	}
}

@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		.o-media--collapse\@#{$bp-name} {
			> .o-media__image {
				width:100%;
			}
			> .o-media__image,
			> .o-media__body {
				display:block;
			}
		}
	}
}

@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		.o-media--collapse\@max-#{$bp-name} {
			> .o-media__image {
				width:100%;
			}
			> .o-media__image,
			> .o-media__body {
				display:block;
			}
		}
	}
}


// SPACING VARIANT MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Alter the spacing in between image and text
*/

// Generate using settings.spacing
// Example o-media--spacing-small
@each $sp-name, $sp-value in $spacing {
	.o-media--spacing-#{$sp-name} {
		& > .o-media__image {
			padding-right:rem($sp-value);
		}
		&.o-media--reverse > .o-media__image {
			padding-left:rem($sp-value);
			padding-right:0;
		}
	}
}

// Create responsive variants using settings.breakpoints
// Changes padding once breakpoint is hit
// Example o-media--spacing@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-media--spacing-#{$sp-name}\@#{$bp-name} {
				& > .o-media__image {
					padding-right:rem($sp-value);
				}
				&.o-media--reverse > .o-media__image {
					padding-left:rem($sp-value);
					padding-right:0;
				}
			}
		}
	}
}

// Create responsive variants using settings.breakpoints
// Changes padding until breakpoint is hit
// Example o-media--spacing@max-md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq($until: #{$bp-name}) {
		@each $sp-name, $sp-value in $spacing {
			.o-media--spacing-#{$sp-name}\@max-#{$bp-name} {
				& > .o-media__image {
					padding-right:rem($sp-value);
				}
				&.o-media--reverse > .o-media__image {
					padding-left:rem($sp-value);
					padding-right:0;
				}
			}
		}
	}
}
