//--------------------------------------------------------------------------------------------------------------------------------------
// COLOR FUNCTION
//--------------------------------------------------------------------------------------------------------------------------------------

/*
A function to return a specific color from the map in settings.colors
*/


// USAGE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
.myElement {
	border-color: color("red");
}
*/

// SASS
//--------------------------------------------------------------------------------------------------------------------------------------

@function color($value) {

	$color: null;

	@if map-has-key($colors, $value) {
		$color: map-get($colors, $value);
	}
	@else {
		@error "'#{$value}' doesn't exist in 'settings.colors'";
	}

	@return $color;
}
