//--------------------------------------------------------------------------------------------------------------------------------------
// REM FUNCTION
//--------------------------------------------------------------------------------------------------------------------------------------

/*
A function to convert any px value into its rem equivalent. 
Sourced from inuitcss (https://github.com/inuitcss/inuitcss)
*/


// USAGE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
.myElement {
	padding: rem(16px);
}
*/


// SASS
//--------------------------------------------------------------------------------------------------------------------------------------

@function rem($value) {

	@if (type-of($value) == number) {
		@if (unit($value) != "px") {
			@error "'#{$value}' needs to be a pixel value.";
		}
	} 
	@else {
		@error "'#{$value}' needs to be a number.";
	}

	@return $value / $global-font-size * 1rem;
}