//--------------------------------------------------------------------------------------------------------------------------------------
// CLEARFIX
//--------------------------------------------------------------------------------------------------------------------------------------

/*
 A mixin to apply clearfix to an element
*/


// BASIC USAGE
//--------------------------------------------------------------------------------------------------------------------------------------

/*
.myElement {
	@include clearfix();
}
*/


// SASS
//--------------------------------------------------------------------------------------------------------------------------------------


@mixin clearfix {
	&:after {
		content: "" !important;
		display: block !important;
		clear: both !important;
	}
}