//------------------------------------------------------------------------------------------------------------------------------------
// GENERAL INPUT STYLES
//------------------------------------------------------------------------------------------------------------------------------------

/*
Define some basic spacing for input elements
*/

// Remove spinners/arrows for number input
input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


// RANGE INPUT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
[1] Hides the slider so that custom slider can be made
[2] Otherwise white in Chrome
[3] Removes the blue border.
[4] Disables IE tooltip
*/

input[type=range] {
	-webkit-appearance: none; /* [1] */
	background-color: transparent; /* [2] */
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; /* [3] */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background-color: transparent; 
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-tooltip {
	display: none; /* [4] */
}


// VALIDATION DEFAULTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
[1] Remove firefox blur on invalid elements
[2] Removes outline on IE, Edge
*/

input:invalid, select:invalid, textarea:invalid {
	box-shadow:none; /* [1] */
	outline:none; /* [2] */
}


// PLACEHOLDERS
//--------------------------------------------------------------------------------------------------------------------------------------

::-webkit-input-placeholder {
	opacity:1;
}

::-moz-placeholder {
	opacity:1;
}

:-ms-input-placeholder {  
	opacity:1;
}
