//------------------------------------------------------------------------------------------------------------------------------------
// PARAGRAPH STYLES
//------------------------------------------------------------------------------------------------------------------------------------

/*
Define some basic spacing for p elements
*/


p {
	margin-bottom:1.2em;
}

p:last-child {
	margin-bottom:0;
}